<ion-view view-title="Workaholic?!">
  <ion-content>
    <div class="card" id="date">
      <div class="item item-divider">
        Data
      </div>
      <div class="item item-text-wrap">
        {{today}}
      </div>
    </div>
    <div class="card" id="chegada" ng-if="dados.chegada!=null">
      <div class="item item-divider">
        Chegada no trabalho
      </div>
      <div class="item item-text-wrap">
        {{parseTime(dados.chegada)}}
      </div>
    </div>
    <div class="card" id="almoco" ng-if="dados.almoco!=null">
      <div class="item item-divider">
        Saída para o almoço
      </div>
      <div class="item item-text-wrap">
        {{parseTime(dados.almoco)}}
      </div>
    </div>
    <div class="card" id="volta_almoco" ng-if="dados.volta_almoco!=null">
      <div class="item item-divider">
        Volta do almoço
      </div>
      <div class="item item-text-wrap">
        {{parseTime(dados.volta_almoco)}}
      </div>
    </div>
    <div class="card" id="chegada" ng-if="dados.saida!=null">
      <div class="item item-divider">
        Saída do trabalho
      </div>
      <div class="item item-text-wrap">
        {{parseTime(dados.saida)}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="action-buttons" ng-if="dados.saida==null">
    <div class="button-bar">
      <button class="button button-block button-balanced" ng-click="cheguei()" ng-if="dados.chegada==null">
        Cheguei no trabalho
      </button>

      <button class="button button-block button-energized" ng-click="pausaAlmoco()" ng-if="dados.chegada!=null && dados.almoco==null">
        Pausa para o almoço
      </button>

      <button class="button button-block button-balanced" ng-click="volteiAlmoco()" ng-if="dados.almoco!=null && dados.volta_almoco==null">
        Voltando do almoço
      </button>

      <button class="button button-block button-assertive" ng-click="fuiEmbora()" ng-if="dados.chegada!=null && dados.saida==null">
        Hora de ir pra casa
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
